/**
 * OCFL WebUI Styles
 * Dark theme inspired by Oxide Console
 */

@import "tokens.css";
@import "base.css";
@import "layout.css";
@import "components.css";
@import "forms.css";
@import "pages.css";
@import "utilities.css";
