/**
 * Utility Classes
 * Helper classes for common patterns
 */

/* Screen reader only - visually hidden but accessible */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Full height - used on html element */
.h-full {
  height: 100%;
}
