:root {
	--ratio: 1.25;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
	
	--c-indigo-1: #3451b2;
	--c-indigo-2: #3a5ccc;
	--c-indigo-3: #5672cd;
	--c-green: #1a7f37;
	--c-red: #c53030;
	--c-yellow: #9a6700;
	--c-dir: #54aeff;
	--c-gray-soft: rgba(142, 150, 170, .14);
	--c-bg: #ffffff;
	--c-bg-alt: #f6f6f7;
	--c-bg-elv: #ffffff;
	--c-text-1: rgba(60, 60, 67);
	--c-text-2: rgba(60, 60, 67, .78);
	--c-text-3: rgba(60, 60, 67, .56);
	--c-border: #c2c2c4;
	--c-divider: #e2e2e3;

	--border-thin: 1px;

	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--code-line-height: var(--s0);
	--code-font-size: var(--s-1);
	--code-color: var(--c-brand-1);
	--code-bg: var(--c-gray-soft);
	--code-block-bg: var(--c-bg-alt);
	--code-block-color: var(--c-text-1);
	--header-height: var(--s2);
	--border-radius: var(--s-2);
  
	font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--c-text-1);
  margin: 0;
}

a, a:visited, a:hover {
	text-decoration: none;
	color: var(--c-indigo-1);
}

h2 {
	font-size: var(--s3);
	margin: var(--s0) 0;
}

input, button {
	font-size: var(--s0);
	margin-bottom: var(--s-1);
}

.top-menu {
	width: 100%;
	margin: 0;
	margin-bottom: var(--s2);
	display: flex;
	gap: var(--s2);
	padding: var(--s-1);
	background-color: var(--c-bg-alt);
	border-bottom: var(--border-thin) solid var(--c-border);
	font-size: var(--s1);
}

.top-menu .server-name {
	font-weight: 500;
}

.main {
  max-width: 100ch;
  margin: 0 auto;
}


.panel {
	width: 100%;
	border: var(--border-thin) solid var(--c-border);
	border-radius: var(--border-radius);
	margin: var(--s1) 0;
}

.panel .panel-top {
	display: flex;
	background-color: var(--c-bg-alt);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	border-bottom: var(--border-thin) solid var(--c-border);
	gap: var(--s-2);
	margin-bottom: 0;
	padding: var(--s-2);
}

.panel .panel-body {
	margin-top: 0;
	padding: var(--s-2);
}

.panel-body table {
	width: 100%;
	table-layout:fixed;
	border-spacing: 0;
	margin-top: 0;
}

.panel-body thead th {
	font-weight: 300;
}

.panel-body tr:last-child td {
	border-bottom: none;
}

.panel-body th, td {
	line-height: var(--code-line-height);
	text-align: left;
  	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
	padding: var(--s-2);
	font-size: var(--s-1);
	border-bottom: var(--border-thin) solid var(--c-border);
}


/* file list */

.files .breadcrumb.panel-top {
	line-height: var(--s0);
	font-size: var(--s0);
}

.files .breadcrumb .path {
	flex-grow: 1;
	display: flex;
	gap: var(--s-4);
}

.files .breadcrumb .path .version-ref {
	color: var(--c-text-2);
	border: var(--border-thin) solid var(--c-border);
	border-radius: 3px;
	padding: 3px;
	font-size: var(--s-1);
	font-weight: bold;
}

.files .breadcrumb a {
	padding-top: 3px;
}

.files .breadcrumb .history {
	display: flex;
	font-size: var(--s-1);
	gap: var(--s-4);
}

.files td:first-child,
.files th:first-child {
	width: 40%;
}

.files .filename {
	display: flex;
	gap: var(--s-1);
}

.files .filename svg {
	color: var(--c-indigo-2);
}

.files .filename a {
	color: var(--c-text-1);
	font-size: var(--s0);
}

.files .bytes {
	font-size: var(--s-1);
}

.files .digest {
	font-family: var(--font-family-mono);
	font-size: var(--s-1);
	color: var(--c-text-2);
}

.files .modtime {
	font-size: var(--s-1);
}

.readme .markdown {
	padding: var(--s-2);
}

.readme .panel-top {
	background-color: var(--c-bg);
}

.readme .markdown :first-child {
	margin-top: 0;
}


.object-history td:first-child,
.object-history th:first-child {
	width: 8ch;
}


/* history file tree */
.history {
	display: block;
  	/* padding-block: 6px; */
}

.history .node {
	display: flex;
	align-items: center;
  	gap: var(--s-5);
  	padding: var(--s-5) var(--s-4);
}

.history .children {
	margin-left: var(--s-3);
	border-left: 1px dashed var(--c-border);
}

/* object lookup */

.object-lookup {
	width: 33%;
	margin: 0 auto;
}

.object-lookup form {
	display: flex;
	gap: var(--s-1);
}

.object-lookup input {
	flex-grow: 1;
}